* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Righteous', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #c7cdd3;
}

.card {
    width: 100px;
    height: 100px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform .5s;
} 

.card_front, .card_back {
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.45);
    backface-visibility: hidden;
}

.flip {
    transform: rotateY(180deg);
}
.card_front {
    transform: rotateY(180deg);
    background-color: #101c2c;
}

.card_back {
    color: #101c2c;
    background-color: #05c3ff;
    font-size: 30px;
    /* display: none; */
}

.text {
    top: 0;
    position: absolute;
    color: #303030;
    margin: 5px;
    font-weight: 600;
    font-size: 30px;
}

#clickCount {
    width: 80px;
    height: 80px;
    position: fixed;
    top: 5%;
    display: flex;
    text-align: center;
}

#countBox {
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.45);
    backface-visibility: hidden;
    font-size: 40px;
    background-color:#05c3ff;
    color: #1b1b1b;
    
}



#gameOver {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    font-size: 50px;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 0;
}

#restart {
    padding: 20px;
    font-size: 20px;
    background-color: yellow;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
}

#gameBoard {
    max-width: 700px;
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr;
    gap: 20px;
}

@media(max-width: 1280px) {

}


@media(max-width: 991px) { 

    .card {
        width: 80px;
        height: 80px;
    } 
    .card_back {
        font-size: 15px;
    }
    .card_front img {
        width: 90%;
    }
    .clickCount {
        top: 6%;
    }
    #totalClicks, #gameOver{
        text-align: center;
        margin: 10px;
        font-size: 30px;

    }
}